<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="report.css">
</head>
<body>
  <form action="/pdf" method="GET">
    <table name="table">
        <tr>
          <th>Original Teacher</th>
          <th>Substitute Teacher</th>
          <th>Class Name</th>
          <th>Block</th>
          <th>Date</th>
          <th>Notes</th>
        </tr>
      
        <% subEvents.forEach(event => { 
              console.log(event.originalTeacherName, event.subbingTeacherName);
            %>
            <tr>
          <td><%= event.originalTeacherName%></td>
          <td><%= event.subbingTeacherName%></td>
          <td><%= event.className%></td>
          <td><%= event.block%></td>

        
            <td><%= event.date%></td>

          <td><%= event.notes%></td>
        </tr>
       <% }) %>

      
        
       
      </table>
      <div class="buttondiv">
        <button id="pdfbtn" type="submit">Generate PDF</button>
        <button id="homebtn" onclick="location.href='/'">Home</button>
      </div>
    </form>
</body>
</html>